/* html {
    propiedades: " ";
    propiedades: " ";
    propiedades: " ";
    ...
} */

body {
    background-color: var(--BackgroundColor);
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: 0;
}
