/* @import */

:root {
    /* fonts */

    /* colors */
    --BackgroundColor: #2b2d42ff;
    --text: #8487ae;
    --shadow: rgb(24, 24, 24, 0.88);
    --carbon: rgb(43, 42, 41, 0.8);
    --shocking-pink: #ff00c1ff;
    --electric-violet: #9600ffff;
    --ultramarine: #4900ffff;
    --capri: #00b8ffff;
    --aqua: #00fff9ff;

    --rebecca-purple: #702b9eff;
    --violet-ryb: #7e2bb0ff;
    --electric-purple: #b429f9ff;
    --purple-x-11: #9c43f8ff;
    --medium-slate-blue: #855df7ff;
    --medium-slate-blue-2: #6d77f6ff;
    --united-nations-blue: #5591f5ff;
    --blue-jeans: #3eabf4ff;
    --vivid-sky-blue: #26c5f3ff;

    --light-pink: #ffadadff;
    --deep-champagne: #ffd6a5ff;
    --lemon-yellow-crayola: #fdffb6ff;
    --tea-green: #caffbfff;
    --electric-blue: #9bf6ffff;
    --baby-blue-eyes: #a0c4ffff;
    --maximum-blue-purple: #bdb2ffff;
    --mauve: #ffc6ffff;
}
