.conteiner-briefcase {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.4fr 2fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

.conteiner-briefcase-briefcase {
    background-color: cadetblue;
    width: 100px;
    height: 100px;
}

.conteiner-briefcase-briefcase {
    width: 90vw;
    height: 30vh;
    margin: 50px 0;
}
