.conteiner-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contact-color {
    background-color: indigo;
    width: 70vw;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.container-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-text {
    background-color: cadetblue;
    margin: 2vh 0;
}

.text-description {
    text-align: center;
}

.text-emal {
    margin: 1vh 0;
}

.text-tel {
    margin: 1vh 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    background-color: rgba(128, 128, 128, 0.2);
    width: 50vw;
    padding: 8px 8px 1px 8px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #707070;
}

.input-message {
    background-color: rgba(128, 128, 128, 0.2);
    width: 50vw;
    height: 10vh;
    min-width: 50vw;
    min-height: 14px;
    max-width: 70vw;
    padding: 8px;
    margin: 10px 5px;
    border: none;
}

.input-button {
    padding: 3px 30px;
    margin: 8px;
}

@media only screen and (min-width: 768px) {
    .container-contact-color {
        width: 50vw;
        padding: 30px;
        flex-direction: row;
    }

    .container-text {
        background-color: cadetblue;
        width: 25vw;
        margin: 4vh 0;
    }

    .text-description {
        margin: 0 0 4vh 0;
        text-align: left;
    }

    .text-emal {
        width: 20vw;
        overflow: visible;
    }

    .container-form {
        padding: 0 0 0 15px;
    }

    .input {
        width: 23vw;
    }

    .input-message {
        width: 23vw;
        height: 10vh;
        min-width: 23vw;
        min-height: 14px;
        max-width: 23vw;
    }
}
