.option {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    transition: all 0.5s linear;
}

.option:hover {
    transform: scale(1.3);
}

.yellow {
    background-color: var(--lemon-yellow-crayola);
    color: var(--lemon-yellow-crayola);
    text-shadow: 0 0 5px var(--lemon-yellow-crayola),
        0 0 10px var(--lemon-yellow-crayola),
        0 0 15px var(--lemon-yellow-crayola),
        0 0 20px var(--lemon-yellow-crayola);
}

.green {
    background-color: var(--tea-green);
    color: var(--tea-green);
    text-shadow: 0 0 5px var(--tea-green), 0 0 10px var(--tea-green),
        0 0 15px var(--tea-green), 0 0 20px var(--tea-green);
}

.blue {
    background-color: var(--electric-blue);
    color: var(--electric-blue);
    text-shadow: 0 0 5px var(--electric-blue), 0 0 10px var(--electric-blue),
        0 0 15px var(--electric-blue), 0 0 20px var(--electric-blue);
}

.purple {
    background-color: var(--maximum-blue-purple);
    color: var(--maximum-blue-purple);
    text-shadow: 0 0 5px var(--maximum-blue-purple),
        0 0 10px var(--maximum-blue-purple), 0 0 15px var(--maximum-blue-purple),
        0 0 20px var(--maximum-blue-purple);
}

.pink {
    background-color: var(--light-pink);
    color: var(--light-pink);
    text-shadow: 0 0 5px var(--light-pink), 0 0 10px var(--light-pink),
        0 0 15px var(--light-pink), 0 0 20px var(--light-pink);
}

.button-link {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.link {
    background-color: transparent;
    padding: 10px 10px;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .option {
        padding: 7px 3px;
    }

    .button-link {
        display: none;
    }

    .link {
        padding: 5px 10px;
    }

    .yellow:active {
        background-color: var(--lemon-yellow-crayola);
        text-shadow: 0 0 5px var(--lemon-yellow-crayola),
            0 0 10px var(--lemon-yellow-crayola),
            0 0 15px var(--lemon-yellow-crayola),
            0 0 20px var(--lemon-yellow-crayola);
    }

    .green:active {
        background-color: var(--tea-green);
        text-shadow: 0 0 5px var(--tea-green), 0 0 10px var(--tea-green),
            0 0 15px var(--tea-green), 0 0 20px var(--tea-green);
    }

    .blue:active {
        background-color: var(--electric-blue);
        text-shadow: 0 0 5px var(--electric-blue), 0 0 10px var(--electric-blue),
            0 0 15px var(--electric-blue), 0 0 20px var(--electric-blue);
    }

    .purple:active {
        background-color: var(--maximum-blue-purple);
        text-shadow: 0 0 5px var(--maximum-blue-purple),
            0 0 10px var(--maximum-blue-purple),
            0 0 15px var(--maximum-blue-purple),
            0 0 20px var(--maximum-blue-purple);
    }

    .pink:active {
        background-color: var(--light-pink);
        text-shadow: 0 0 5px var(--light-pink), 0 0 10px var(--light-pink),
            0 0 15px var(--light-pink), 0 0 20px var(--light-pink);
    }
}

@media only screen and (min-width: 768px) {
    .link {
        color: var(--text);
        text-shadow: none;
    }
    .yellow:hover {
        color: var(--lemon-yellow-crayola);
        text-shadow: 0 0 5px var(--lemon-yellow-crayola),
            0 0 10px var(--lemon-yellow-crayola),
            0 0 15px var(--lemon-yellow-crayola),
            0 0 20px var(--lemon-yellow-crayola);
    }

    .green:hover {
        color: var(--tea-green);
        text-shadow: 0 0 5px var(--tea-green), 0 0 10px var(--tea-green),
            0 0 15px var(--tea-green), 0 0 20px var(--tea-green);
    }

    .blue:hover {
        color: var(--electric-blue);
        text-shadow: 0 0 5px var(--electric-blue), 0 0 10px var(--electric-blue),
            0 0 15px var(--electric-blue), 0 0 20px var(--electric-blue);
    }

    .purple:hover {
        color: var(--maximum-blue-purple);
        text-shadow: 0 0 5px var(--maximum-blue-purple),
            0 0 10px var(--maximum-blue-purple),
            0 0 15px var(--maximum-blue-purple),
            0 0 20px var(--maximum-blue-purple);
    }

    .pink:hover {
        color: var(--light-pink);
        text-shadow: 0 0 5px var(--light-pink), 0 0 10px var(--light-pink),
            0 0 15px var(--light-pink), 0 0 20px var(--light-pink);
    }
}
